*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: cover;
}
header{
    background-color: black;
    height: 5em;
} 
 /*header  */
.htag{ 
    float: right;
    margin-top: 33px;  
    margin-right: 55px;   
}
.htag a{
    border: 02px solid white;
    text-decoration: none;
    padding: 04px;
    color: white;
    margin-right: 05px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.htag a:hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;
}
/* header end */
img{
    margin-left: 10%;
    margin-top: 14px;
}
/* aside */
.side{
    color: white;
    padding: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side li{
    list-style: square;
    margin-bottom: 02px;
}
/* aside end */

/* login form */
.lform{
    float: right;
    margin-top: 5%;
    border: 2px solid blueviolet;
    background-color: plum;
    height: 15em;
    margin-right: 2%;
    padding: 30px;
}
.lform h2{
    text-align: center;
}
.lform input{
    margin-left: 3e;
    height: 18px;
}
button{
    width: 100%;
    color: white;
    background-color: slategray;
    border: 1px solid slategray;
    height: 20px;
}
/* login form end */

/* div cont */
.div-cont{
    margin-left: 2%;
    margin-top: 5em;
}
.p-box{
    border: 3px solid palevioletred;
    width: 22%;
    height: 15em;
    float: left;
    background-color: lightgrey;
    padding: 10px;
    margin-left: 5px;
}
.p-box a{
    text-decoration: none;
    color: red;
}
.p-box h3{
    text-align: center;
}
.p-box p{
    text-align: justify;
    
}
/* div cont end */
/* footer */
footer{
    background-color: black;
    height: 22px;
    margin-top: 29%;
    color: white;
}
footer h3{
    text-align: center;
}
 